// ######## Custom variables #########

$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

$font-size: 18px;
$font-family-body: "Open Sans", sans-serif;
$font-family-heading: "Poppins", sans-serif;

// ######### Custom properties ##########

// ######## Base URL #########
// for development as the absolute path can be different with the server

$base-url: "https://ihsansfd.github.io/frontendmentor-blogr";
